* {
	background-color: white;
}

ul {
	list-style: none;
}

li {
	cursor: pointer;
}

li:hover {
	text-decoration: line-through;
}

.stage {
	position: absolute;
	width: 600px;
	height: auto;
	top: 50px;
	left: 50%;
	margin-left: -300px;
	background-color: white;
	border: 1px solid grey;
	padding: 20px;
}

.current {
	text-decoration: line-through;
}